*, *:before, *:after{
    box-sizing: border-box;
}
html,body{
    height:100%;
    margin:0;
    padding:0;
    -webkit-user-select: none;
    min-width: 1000px;
    min-height: 600px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
ul, li{
    margin:0;
    padding:0;
}
li{
    list-style:none;
}

table{
    width:100%;
}
table th{
    font-weight:normal;
}
hr {
    border:1px inset #444;
}
.hide{
    display:none;
}
:focus{
    outline:none;
}
input, textarea{
    /*border: 1px solid #ccc;*/
    /*border-top: 1px solid #aaa;   */
    /*padding:0px 5px;*/
    border:none;
    font-size:14px;    
    margin: 0;
    color:#333;
}

textarea{
    resize:none;
    height:90px;
}
input:hover, textarea:hover{
    /*border-color:#aaa;
    border-top-color: #888;*/
}
input:focus, textarea:focus{
    /*border-color:#4D90FE;*/
    outline: none;
}