html,body{
    height:100%;
    min-width: 1000px;
    min-height: 600px;
}
a:link,
a:hover,
a:visited{
    color:#4D90FE;
}
.left-panel{
    float:left;
    width:200px;
    border-right:1px solid #ccc;
    height:100%;
    padding-top:50px;
}
.page-panel{

}

.control-panel li{
    line-height: 30px;
    padding:10px;
    color:#4D90FE;
}
.control-panel li:hover{
    background:#4D90FE;
    color:#fff;
}
.toolbar-button-group{
    float:right;
    margin:9px;
}
.properties-panel{
    float:right;
    width:250px;
    border-left:1px solid #ccc;
    height:100%;
    overflow-x:hidden;
    font-size:14px;
    padding:20px;
    padding-top: 60px;
}
.properties-panel label{
    margin-right: 10px;
    display:block;
    line-height: 30px;
    color:#4D90FE;
    font-size:12px;
}
.property-row{
    margin-top:20px;
    clear:both;
}
.property-row:first-child{
    margin-top:0px;
}
.property-control{
}
.property-control input,
.property-control textarea{
    width:100%;
    border-bottom:1px solid #ccc;
    line-height:24px;
}
.nav{
    position:absolute;
    width:100%;
    height:50px;
    background:#fff;
    border-bottom:1px solid #ccc;
    font-size:14px;
}

.login-box{
    position:absolute;
}
.avatar{
    width:40px;
    height:40px;
    border-radius: 9999px;
    position:absolute;
    left:10px;
    top:5px;
}
.info{
    line-height: 50px;
    padding-left:60px;
    font-size: 12px;
}

.viewport{
    margin-left:200px;
    margin-right:250px;
    height:100%;
    background-color:#efefef;
}

.frame-wrapper{
    margin:0px auto;
}
.frame-wrapper{
    display:-moz-flex;
    display:-webkit-flex;
    display:flex;
    width:320px;
    height:100%;
}
.landscape .frame-wrapper{
    width: 480px;
}
.frame{
    -webkit-box-flex:1.0;
    -mox-box-flex:1.0;
    flex:1;
    width:100%;
    border:none;
    margin-top:60px;
    margin-bottom:10px;
    border:1px solid #ccc;
    background-color:#fff;
}
.document-source{
    display:none;
}
.context-layer{
    pointer-events: none;
    white-space: nowrap;
}
.dd-controller-mask{
    display:none;
    width:100%;
    height:100%;
    position: absolute;
}
.dd-helper{
    width: 100px;
    height: 50px;
    background-color:pink;
}

/* 标识是否拖拽到可添加区域的样式 */
.can-drop{
    background-color:lightgreen;
}

/* 拖拽时候显示dd遮罩辅助层, 状态相关样式使用stage-status- */
.dragging .dd-controller-mask{
    display:block;
}

/* 隐藏左侧工具栏样式, 布局相关样式使用stage-layout- */
.stage-layout-hide-toolbar .toolbar{
    display:none;
}
.stage-layout-hide-toolbar .viewport{
    margin-left:0px;
}